// MEDIA QUERIES
@mixin MediaQueries($breakpoint) {
  @if $breakpoint == small-576px {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == medium-767px {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == large-960px {
    @media (max-width: 960px) {
      @content;
    }
  } @else if $breakpoint == extraLarge-1200px {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == extraLarge2-1550px {
    @media (max-width: 1550px) {
      @content;
    }
  }
}

// INPUTS
@mixin form-input {
  padding-block: 15px;
  padding-inline: 20px;
  border-radius: 10px;
  border: 1px solid #989898;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
@mixin form-input-w-img {
  padding-block: 15px;
  padding-right: 20px;
  padding-left: 50px;
  border-radius: 10px;
  border: 1px solid #989898;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
