// Colors
$color-primary: #0d1c4c;
$color-blue-lighter: #3456ff;
$color-purple: #6c6cff;
$color-lightblue: #46d9ff;
$span-bg: #313a90;
$white: #fff;
// Fonts
$font-footer-links: 14.5px;
$font-normal: 16px;
$font-larger: 18px;
$font-headings: 24px;
