@use "./common/styles/variables";
@use "./common/styles/mixins";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  color: variables.$color-primary;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 1350px) {
  .container {
    padding-inline: 30px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-inline: 20px;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
